body {
  padding-top: 50px;
  margin: 0px;
}

.info h1 {
  font-size: 70px;
}

#start {
  height: 85vh;
  /*background-image: filter(url("../../assets/img/hotel.jpg"),brightness(0.7));*/
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#mainheading {
  padding-top: 120px;
  color: #ffffff;
  font-size: 90px;
  padding-bottom: 40px;
}
@media (max-width: 490px) {
  #mainheading {
    font-size: 60px;
  }  
}
#price {
  font-size: 40px;
  color: #ffffff;
  padding-bottom: 80px;  
}

#mainbutton {
  margin-top: 30px;
}

.infoparagraph {
  font-size: 20px;
  margin-top: 20px;
  margin-right: 20px;
}

.infoimage {
}

.ratingicon {
  width: 100%;
}

#ratingrow {
  justify-content: center;
  margin: 0px;
}

.secondarysection {
  margin: 30px;
}

@media (max-width: 576px) {
  .infocolumn {
    display: block;
  }
}

.smallratingrow {
}

@media (max-width: 400px) {
  .smallratingicon {
    width: 25px;
  }
}

.smallratingicon {
  width: 70%;
}

.navbar.navbar-light.navbar-expand-md.fixed-top {
}

@media (min-width: 1200px) {
  .smallratingicon {
    width: 70px;
  }
}

.navigationbutton {
}

.fadein {
  opacity: 0;
}
