.header {
    background-color: #8888ff;
    height: 56px;
}

.searchbutton{
    background-color: #8888ff;
    border-color: #8888ff;
}

body {
    background-color: #dbecff;
}

.container-top {
    margin-top: 55.6px;
}

.middle-header-div {
    width:100%;
}

.header-title {
    text-align: center;
    color: white;
}

.card-button {
    background-color: #8888ff;
    border-color: #8888ff;
    margin: 4px;
}