.header {
    background-color: #8888ff;
}

.searchbutton{
    background-color: #9955ff;
}

body {
    background-color: #dbecff;
}

.container-top {
    margin-top: 55.6px;
}

.middle-div {
    width:100%;
}