.card-title-frame {
    width: 100%;
}

.card-title {
    text-align: center;
    margin-left: 5%;
}

.card-pic-container {
    margin-left: auto;
    margin-right: auto;
}

.card-pic-frame {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.card-picture {
    border-radius: 4px;
}

.card-price-frame {
    text-align: center;
}

.card-prize {
    margin: unset;
    vertical-align: middle;
}

.card-button-frame {
    padding-left: 0;
    padding-right: 0;
    margin-top: 3px;
}

.card-button {
    width: 96%;
    margin-left: 2%;
    margin-right: 2%;
}

.no-content-card-text {
    text-align: center;
}